/* ICM Primary values from UX design */
/* Width - container, element, card, */
/* Margin */
/* padding */
/* Border */
/*
  Roboto font related weights
   https://fonts.google.com/specimen/Roboto?selection.family=Roboto:100,300,400,500,700,900
*/
/* font color, background color */
/* UI elements specific color */
/* Card specific color */
/* max width properties for UI Cards for different number of cards in a container */
/* one are more cards */
/* three are more cards */
i[x] {
  display: none !important; }

@media only screen and (max-width: 760px) {
  .single-page.page-live article.page-register.page-content-container .page-content {
    padding-top: 40px !important; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page h1.h1-big {
      font-size: 18px !important;
      font-weight: bold; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page .wp-icm-open-account .process_line .step_line .step_icon {
      width: 30px;
      height: 30px;
      line-height: 30px; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page .wp-icm-open-account .register_wrap {
      border-radius: 0px;
      box-shadow: none; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page .wp-icm-open-account .register_form_wrap form {
      padding: 0 0px; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page .wp-icm-open-account .register_form_wrap {
      padding: 0px;
      margin-top: 0px; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page h1.reg_title {
      margin-bottom: 40px !important; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page .steps_container.wp-icm-open-account {
      height: 58px; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page .signup-buttons-header {
      font-size: 16px;
      font-weight: bold; }
    .single-page.page-live article.page-register.page-content-container .page-content .page-section.landing-page #google-button .abcRioButton {
      width: 116px !important; }
  .single-page.page-live
article.page-register.page-content-container
h1.reg_title,
  .single-page.page-live
article.page-register.page-content-container
.input_group_title
h1 {
    font-size: 16px !important;
    font-weight: bold !important; } }

.popular-container {
  position: relative; }

.popular_green {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  transform: rotate(45deg);
  background-color: #34E834;
  padding-left: 159px;
  padding-right: 110px;
  margin-left: 131px; }

.deposit-card-container:hover {
  background-color: #222127; }
  .deposit-card-container:hover .deposit-header__row1 {
    color: #B6B6B7; }
  .deposit-card-container:hover .deposit-header__row2 {
    color: #F9F9F9; }
  .deposit-card-container:hover .deposit-row__accepted {
    color: #D9D9DA; }
  .deposit-card-container:hover .deposit-row__approx {
    color: #DBDADB; }
  .deposit-card-container:hover .deposit-row__currency-list1 {
    color: #F9F9F9; }
  .deposit-card-container:hover .deposit-row__currency-list2 {
    color: #F9F9F9; }
  .deposit-card-container:hover .deposit-row__time {
    color: #DFDFE0;
    background-color: #5C5B5F; }
  .deposit-card-container:hover .deposit-row.approx-time {
    background-color: #2A292F; }

.deposit-card-container {
  overflow: hidden;
  width: 340px;
  height: 495px;
  border-radius: 18px !important;
  background-color: #fbfafa;
  box-shadow: 0px 3px 24px 0 rgba(0, 0, 0, 0.14);
  display: inline-block; }
  .deposit-card-container .icm-btn {
    display: block !important;
    text-transform: uppercase !important;
    border-radius: 20px !important;
    font-size: 12px !important;
    background-color: #34E834 !important;
    padding: 14px 27px !important;
    margin: 13px auto !important;
    line-height: 1 !important;
    width: max-content !important; }
  .deposit-card-container .card-footer__button--style {
    text-align: center; }
  .deposit-card-container .deposit-header {
    padding-top: 50px;
    text-align: center; }
    .deposit-card-container .deposit-header__row1 {
      color: #9b9b9b; }
    .deposit-card-container .deposit-header__row2 {
      padding-top: 24px;
      font-size: 22px;
      font-weight: bold;
      color: #000000;
      line-height: 1; }
    .deposit-card-container .deposit-header__row-small {
      color: #888;
      font-weight: 300;
      font-size: 11px;
      line-height: 1; }
  .deposit-card-container .deposit-row__time_col {
    margin-top: -2px;
    justify-content: center;
    display: flex; }
  .deposit-card-container .deposit-row__logo {
    justify-content: center;
    display: flex;
    padding-top: 25px; }
  .deposit-card-container .deposit-row__logo-image {
    width: 67px;
    height: 40px;
    margin-right: 15px; }
  .deposit-card-container .deposit-row__accepted {
    text-align: center;
    font-size: 14px;
    color: #666;
    padding-top: 42px;
    line-height: 1; }
  .deposit-card-container .deposit-row__approx {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: #666;
    line-height: 1; }
  .deposit-card-container .deposit-row__currency-list1 {
    padding-top: 23px; }
  .deposit-card-container .deposit-row__currency-list2 {
    padding-top: 8px; }
  .deposit-card-container .deposit-row__currency-list1, .deposit-card-container .deposit-row__currency-list2 {
    height: 43.5px;
    display: flex;
    justify-content: center; }
  .deposit-card-container .deposit-row .currency-item {
    margin-right: 15px; }
  .deposit-card-container .deposit-row__time {
    text-align: center;
    background-color: #EDEDED;
    border-radius: 12px;
    width: max-content;
    font-size: 12px;
    padding: 7px 19px;
    margin-top: 14px;
    line-height: 1; }
  .deposit-card-container .deposit-row.approx-time {
    background-color: #F6F6F6;
    padding-top: 20px;
    padding-bottom: 18px;
    margin-bottom: 12px; }
  .deposit-card-container .deposit-row .icm-btn {
    font-size: 20px;
    font-weight: 500; }
  .deposit-card-container .deposit-row__logo-image.skrill {
    background-image: url("../../assets/img/payments/skrill.png"); }
  .deposit-card-container .deposit-row__logo-image.union_pay {
    background-image: url("../../assets/img/payments/union_pay.png"); }
  .deposit-card-container .deposit-row__logo-image.visa {
    background-image: url("../../assets/img/payments/visa.png"); }
  .deposit-card-container .deposit-row__logo-image.webmoney {
    background-image: url("../../assets/img/payments/webmoney.png"); }
  .deposit-card-container .deposit-row__logo-image.wire_transfer {
    background-image: url("../../assets/img/payments/wire_transfer.png"); }
  .deposit-card-container .deposit-row__logo-image.bpay {
    background-image: url("../../assets/img/payments/bpay.png"); }
  .deposit-card-container .deposit-row__logo-image.broker_to_broker {
    background-image: url("../../assets/img/payments/broker_to_broker.png"); }
  .deposit-card-container .deposit-row__logo-image.fasa_pay {
    background-image: url("../../assets/img/payments/fasa_pay.png"); }
  .deposit-card-container .deposit-row__logo-image.local_bank_transfer {
    background-image: url("../../assets/img/payments/local_bank_transfer.png"); }
  .deposit-card-container .deposit-row__logo-image.master {
    background-image: url("../../assets/img/payments/master.png");
    background-size: cover;
    width: 67px; }
  .deposit-card-container .deposit-row__logo-image.neteller {
    background-image: url("../../assets/img/payments/neteller.png"); }
  .deposit-card-container .deposit-row__logo-image.neteller_vip {
    background-image: url("../../assets/img/payments/neteller_vip.png"); }
  .deposit-card-container .deposit-row__logo-image.paypal {
    background-image: url("../../assets/img/payments/paypal.png"); }
  .deposit-card-container .deposit-row__logo-image.poli {
    background-image: url("../../assets/img/payments/poli.png"); }
  .deposit-card-container .deposit-row__logo-image.thai {
    background-image: url("../../assets/img/payments/thai.png"); }
  .deposit-card-container .deposit-row__logo-image.viet {
    background-image: url("../../assets/img/payments/viet.png"); }
  .deposit-card-container .deposit-row__logo-image.rapidpay {
    background-image: url("../../assets/img/payments/rapidpay.png"); }
  .deposit-card-container .deposit-row__logo-image.klarna {
    background-image: url("../../assets/img/payments/klarna.png"); }
  .deposit-card-container .deposit-row__logo-image.btcwallet {
    background-image: url("../../assets/img/payments/btcwallet.png"); }
